[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bics-plugins/bash-cdstack"]
	path = bics-plugins/bash-cdstack
	url = git://github.com/bahamas10/bash-cdstack.git
[submodule "bics-plugins/bash-dvorak"]
	path = bics-plugins/bash-dvorak
	url = git://github.com/bahamas10/bash-dvorak.git
[submodule "bics-plugins/bash-analysis"]
	path = bics-plugins/bash-analysis
	url = git://github.com/bahamas10/bash-analysis.git
[submodule "bics-plugins/bash-interactivity"]
	path = bics-plugins/bash-interactivity
	url = git://github.com/bahamas10/bash-interactivity.git
[submodule "vim/bundle/vim-flavored-markdown"]
	path = vim/bundle/vim-flavored-markdown
	url = git://github.com/jtratner/vim-flavored-markdown.git
[submodule "vim/bundle/node"]
	path = vim/bundle/node
	url = git://github.com/moll/vim-node.git
[submodule "bics-plugins/tabstop"]
	path = bics-plugins/tabstop
	url = git://github.com/bahamas10/tabstop.git
