[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "basher-plugins/bash-cdstack"]
	path = basher-plugins/bash-cdstack
	url = git://github.com/bahamas10/bash-cdstack.git
[submodule "basher-plugins/bash-dvorak"]
	path = basher-plugins/bash-dvorak
	url = git://github.com/bahamas10/bash-dvorak.git
[submodule "basher-plugins/bash-analysis"]
	path = basher-plugins/bash-analysis
	url = git://github.com/bahamas10/bash-analysis.git
[submodule "basher-plugins/bash-interactivity"]
	path = basher-plugins/bash-interactivity
	url = git://github.com/bahamas10/bash-interactivity.git
[submodule "vim/bundle/vim-node.js"]
	path = vim/bundle/vim-node.js
	url = https://github.com/mmalecki/vim-node.js
[submodule "vim/bundle/vim-flavored-markdown"]
	path = vim/bundle/vim-flavored-markdown
	url = git://github.com/jtratner/vim-flavored-markdown.git
